* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #25301e;
  font-family: "tahoma";
  font-size: 1.2rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  font-family: georgia;
}

p {
  line-height: 1.5;
}

button {
  padding: 0.5rem 0.75rem;
  background: #883c8c;
  border: none;
  border-radius: 5px;
  color: #e6e3e3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: "courier new";
}

hr {
  width: 60%;
  border: none;
  height: 5px;
  background-color: #883c8c;
  margin: 0.75rem auto 1.5rem;
  border-radius: 5px;
}

i {
  color: #883c8c;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;
}

header nav {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

header nav i {
  font-size: 1.5rem;
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero .hero-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero .hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  background: linear-gradient(45deg, #aad989, #aad989);
  z-index: -1;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 10%, 0 100%);
          clip-path: polygon(0 0%, 100% 0, 100% 10%, 0 100%);
}

.hero .hero-container .hero-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.hero .hero-container .hero-content .hero-text {
  text-align: center;
}

.hero .hero-container .hero-content .hero-text button {
  display: none;
}

.hero .hero-container .hero-content .hero-image {
  margin-top: 1rem;
}

.hero .hero-container .hero-content .mobile-button {
  width: 60%;
  margin: 2rem auto 0rem;
}

.about-section {
  margin-top: 0rem;
  width: 100%;
}

.about-section .about-container h2 {
  text-align: center;
}

.about-section .about-container p {
  text-align: center;
}

.fact-section {
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

.fact-section .triangle-container {
  width: 100%;
  height: 100vh;
  background-color: #aad989;
  position: absolute;
  z-index: -10;
  margin-top: 15rem;
}

.fact-section .triangle-container .triangle {
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 100%);
          clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 100%);
}

.fact-section .fact-container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.fact-section .fact-container .fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fact-section .fact-container .fact i {
  font-size: 3.5rem;
  margin: 0 auto;
}

.fact-section .fact-container .fact p {
  margin: 1rem 0 1.5rem;
  text-align: center;
}

.contact-section {
  margin-top: 5rem;
  width: 100%;
}

.contact-section .contact-container {
  width: 90%;
  margin: 0 auto;
}

.contact-section .contact-container h2 {
  text-align: center;
}

.contact-section .contact-container .form {
  margin: 2rem auto 0rem;
  width: 80%;
}

.contact-section .contact-container .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-container .form .form-group input {
  margin: 0.5rem 0 1.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 2px solid #883c8c;
  border-radius: 5px;
}

.contact-section .contact-container .form .form-group .message-input {
  height: 5rem;
}

footer {
  background-color: #aad989;
  text-align: center;
  padding: 2rem 0;
  margin-top: 1.9rem;
}
/*# sourceMappingURL=style.css.map */