///// variables /////
$text-color: #25301e;
$button-text-color: #e6e3e3;
$background1: #aad989;
$highlight: #883c8c;

///// global styles /////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: $text-color;
  font-family: "tahoma";
  font-size: 1.2rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  font-family: georgia;
}

p {
  line-height: 1.5;
}

button {
  padding: 0.5rem 0.75rem;
  background: $highlight;
  border: none;
  border-radius: 5px;
  color: $button-text-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: "courier new";
}

hr {
  width: 60%;
  border: none;
  height: 5px;
  background-color: $background1;
  margin: 0.75rem auto 0rem;
  border-radius: 5px;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

///// content styles /////
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;

  nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 1rem;
        padding: 0.5rem 0.5rem;
        transition: background-color 0.4s;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100%;

  .hero-container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 110%;
      width: 100%;
      background: linear-gradient(45deg, $background1, $background1);
      z-index: -1;
      clip-path: polygon(0 0%, 100% 0, 100% 10%, 0 100%);
    }

    .hero-content {
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr;

      .hero-text {
        text-align: center;

        button {
          display: none;
        }
      }

      .hero-image {
        margin-top: 1rem;
      }

      .mobile-button {
        width: 60%;
        margin: 2rem auto 0rem;
      }
    }
  }
}

.about-section {
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 100%;

  .about-container {
    h2 {
      text-align: center;
    }

    p {
      margin-top: 1.5rem;
      text-align: center;
    }
  }
}
